@font-face {
    font-family: regular;
    src: url(./font/gg\ sans\ Regular.ttf);
}
@font-face {
    font-family: Bold;
    src: url(./font/gg\ sans\ Bold.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "regular", sans-serif;

    
}



body{
    background-image: url(./discord-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    

}

.navbar ul{
    display: flex;
    gap: 30px;
}

.navbar ul a{
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
}



.btn{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    
}

.image1{
    justify-content: center;
    display: flex;
    align-items: center;
}




/* hero section/// */



.content{
    display: flex;
    justify-content: center;
    align-items: center;
}



.container1 h1{
    font-size: 45px;
    width: 300px;
    font-family: Bold, sans-serif;
    font-weight: bold;

}
.container1 p{
    width: 300px;
}

.hero{
    color: white;
    padding: 50px;
}


.herobtn{
    display: flex;
    justify-content: center;
    margin: 80px;
    gap: 20px;
}

.btn2{
    padding: 15px 28px;
    background-color: white;
    color: black;
    border-radius: 50px;
    border: none;
    font-weight: 600;
}

.btnspan{
    background-color: #161CBB;
    color: white;
}

footer{
    margin-bottom: 0;
}

 
.footercontainer{
    height: 400px;
    display: flex;
    background: linear-gradient(90deg, rgba(143,170,237,1) 29%, rgba(69,78,160,1) 85%);
    justify-content: center;
    gap: 40px;

}

.selector{
    background: none;
    border: none;
    color: white;
}
.selectme{
    margin: 20px;
   
}

.footericon{
   display: flex;
   gap: 20px;
}
.footericon i{
    font-size: 12px;
}

.footercontainer h5{
    margin-top: 20px;
    color: white;

}

.footercontainer ul{
    line-height: 25px;
}

.footercontainer ul a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 10px;
}



.container{

    background: linear-gradient(90deg, rgba(143,170,237,1) 29%, rgba(69,78,160,1) 85%);
    height: 100%;
    border-top: #A2A5E9 5px solid;
    display: flex;
    justify-content: end;
    font-size: 12px;
    
    

}



.container a{
    color: white;
    list-style: none;
    text-decoration: none;
}






/* section */

.chat{
    height: 760px;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.card{
    height: 75%;
    width: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(90deg, rgba(87,107,224,1) 49%, rgba(49,101,224,1) 99%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 3px solid rgba( 255, 255, 255, 0.18 );


}

.animation{
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: start;
    display: flex;
    align-content: center;
}

.animation .video{
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50px;
    
}


.chatdetail{
    color: white;
}




.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text h1{
    width: 300px;
    font-weight: 900;
    font-size: 40px;
    font-family: bold, sans-serif;
   
}

.text p{
    width: 300px;
    font-size: 22px;
}

.card2{
    background: linear-gradient(90deg, rgba(102,101,148,1) 29%, rgba(101,184,251,1) 99%);
    height: 75%;
    width: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.card3{
    background: linear-gradient(90deg, rgba(160,171,250,1) 29%, rgba(53,73,185,1) 99%);
}

.card4{
    background: linear-gradient(90deg, rgba(160,171,250,1) 29%, rgba(57,82,172,1) 99%);

}















/* MObile width responsive  */

@media only screen and (max-width:800px){
    
    
    
    header{
       position: sticky;
       background-color: #161cbb;
       top: 0;
       z-index: 1000; 
    }
    
    
    .navbar{
        justify-content: space-between;
        
     

    }
   .navbar ul{
    display: none;
   }

   .img1{
    height: 200px;
   }

   .card{
    flex-direction: column;
    max-height: 1040px;
    align-items: start;
    align-content: start;
    gap: 20px;
    max-width: 400px;
   }



   .content{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
   }
.container1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
   .container1 h1{
    text-align: center;
    width: 300px;
    font-size: 1.2rem;
   }
   .container1 p{
    text-align: center;
    width: 300px;
   }

   .cardflex{
     flex-direction: column-reverse;
   }



.animation .video{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    
}

.chatdetail{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}



.chatdetail h1{
    line-height: normal;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 200px;
    }

.text h1{
    width: 90%;
    font-size: 23px;
    font-family: bold, sans-serif;
    margin: 10px;
}

.text p{
    width: 200px;
    height: 100px;
    font-size: 12px;
}

.card2{
    background: linear-gradient(90deg, rgba(102,101,148,1) 29%, rgba(101,184,251,1) 99%);
    
}

.chat{
    padding: 10px;
}



.herobtn{
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

footer{
    display: none;
}


























