@font-face {
    font-family: regular;
    src: url(./font/gg\ sans\ Regular.ttf);
}
@font-face {
    font-family: Bold;
    src: url(./font/gg\ sans\ Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "regular", sans-serif;
}



.videohome {
    position: absolute;
        width: 100%;
    object-fit: cover; 
    z-index: 1; 
}

.navbar {
    position: relative;
    z-index: 2; 
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 30px;
}

.navbar ul a{
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: 600
}
.btn{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    
}



.section1{
    position: relative;
    z-index: 2; 
    display: flex;
    height: 400px;
    align-items: center;
    padding: 0px 200px; 
    justify-content: center;
    

}
.mobilewidth{
    display: none;
}



.container1{
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 400px;
    color: white;
    margin-right: 400px;
    justify-content: center;
}
.home h1{
    font-size: 50px;
    font-family: bold;
    line-height: 50px;
}
.home p{
    margin-top: 10px;
}





.section2{
    position: relative;
    z-index: 2;
    margin-top: 200px;
    height: 350px;
    background-color: rgb(255, 255, 255);
}

.nitro{
    
    display: flex;
    justify-content: center;
    gap: 50px;

}

.box{
    width: 40%;
    border-radius: 30px;
    background: linear-gradient(52deg, rgba(73,105,234,1) 18%, rgba(0,124,194,1) 80%);
    color: white;
    height: 400px;
    margin-top: -150px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h1{
    font-family: bold, sans-serif;
    font-size: 35px;
    font-style: italic;
}

.box ul{
    list-style: none;
    line-height: 40px;
    margin-top: 10px;
   
}
.box ul li i{
    margin: 10px;
}

.box ul li{
    font-size: 20px;
}

.purplebox{
    background: linear-gradient(126deg, rgba(133,71,198,1) 18%, rgba(209,119,240,1) 85%);
    }

.button{
    width: 100%;
}

.button button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: bold, sans-serif;
}

.section3{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popular{
    font-size: 35px;
    font-family: bold, sans-serif;
    padding: 10px;
}

.popular h2{
    font-family: bold, sans-serif;
}

.customoption{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.options{
    height: 400px;
    background-color: #F6F6F6;
    width: 40%;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;

}

.options h1{
    max-width: 350px;
    font-family: bold, sans-serif;

}

.btn2{
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 20px 20px;
    border: none;
    font-family: bold, sans-serif;
    font-size: 20px;
}

.button2{
   margin-top: 50px;
}


.section4{
    height: 100%;
    justify-content: center;
    display: flex;
    width: 100%;
    
}

.plan{
    background-color: #F6F6F6;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 9px;



}

.plan h1{
    font-family: bold, sans-serif;
    font-size: 50px;
    max-width: 50%;
    margin-top: 30px;
}




.container3{
   display: flex;
   justify-content: space-between;
   width: 70%;
}

.container3 p{
    font-size: 20px;
}

.container3 h2{
    font-size: 25px;
    font-family: bold, sans-serif;


}

.heading{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 90%;
}



.seconddiv{
    text-align: center;
}

.lastdiv{
    text-align: center;

}


.btn3{
    background-color: #5865F2;
    color: white;
    border-radius: 100px;
    padding: 8px 40px;
    border: none;
    
}

.btnspan{
    margin-top: 20px;
}




.questions{
   text-align: center;
   height: 1000px;    
}

.heading2 h1{
    font-size: 50px;
    font-family: bold, sans-serif;
}

.navbar2{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;

}

.navbar2 ul{
    display: flex;
    gap: 30px;
    list-style: none;

}

.navbar2 a{
    color: rgb(117, 114, 114);
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar2 a:active{
    border-bottom: 1px solid purple;
    color: black;
}

.questionbox{
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answers{
    height: 90px;
    width: 90%; 
    background-color: #F6F6F6;  
    align-content: center;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answers h1{
    font-size: 23px;
}

.fa-plus{
    font-size: 30px;
    -webkit-text-stroke: 3px white;
}

footer{
    margin-bottom: 0;
}

 
.footercontainer{
    height: 400px;
    display: flex;
    background-color: #23272A;
    justify-content: center;
    gap: 40px;

}

.selector{
    background: none;
    border: none;
    color: white;
}
.selectme{
    margin: 20px;
   
}

.footericon{
   display: flex;
   gap: 20px;
}
.footericon i{
    font-size: 12px;
}

.footercontainer h5{
    margin-top: 20px;
    color: white;

}

.footercontainer ul{
    line-height: 25px;
}

.footercontainer ul a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.imagehome{
    display: none;
}

.container6{
    display: none;
}


@media only screen and (max-width:800px){
    .navbar ul{
        display: none;
    }
    .videohome{
        display: none;
    }
    .imagehome{

            position: absolute;
                width: 100%;
                height: 1400px;
            object-fit: cover; 
            z-index: 1; 
            display: inline-block;
        }

     
        .container1{
           display: none;
        }


        .footercontainer{
            display: none;
        }

        .section1{
            display: none;
            
        
        }

        .mobilewidth{
            position: relative;
            z-index: 2; 
            display: flex;
            flex-direction: column;
            width: 100%;
            
        
        
    }

    
   

        .section2{
            background: none;
        }
        
        
        
        
        
        .container6{
            display: flex;
            
            
        }

        .container6 .mobilehome{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
        }
        .mobilehome h1{
            color: white;
            font-size: 45px;
            font-family: bold, sans-serif;
            line-height: 50px;
            margin-top: 60px;
        }
        .moiblehome p{
            margin-top: 10px;
        }

        .image6{
            margin-top: 30px;
        }

       

       .nitro{
        flex-direction: column;
        align-items: center;
       }

       .box{
        margin-top: -12px;
        width: 90%;
       }


       .customoption{
        width: 100%;
        flex-direction: column;
        z-index: 2;
        margin-top: 400px;
        align-items: center;
        text-align: center;

        }

        .options{
            width: 100%;
        }
        .options img{
            width: 100%;
        }

        .popular h1{
        }

        .firstdiv{
            font-size: 8px;
        }

        

        .container3{
            width: 100%;
            margin-top: 10px;
        }

        .container3 p{
            font-size: 10px;
            line-height: 30px;
        }

        

        .plan{
            height: 1200px;
            gap: 40px;
        }
        .plan h1{
            font-size: 20px;
        }

        .btnspan{
            margin-top: 100px;
        }
        

        .secondiv{
            line-height: 10px;
        }
          
        .navbar2{
            align-items: center;
            display: flex;
            height: 100px;
        
        }
        
        .navbar2 ul{
            display: flex;
            font-size: 13px;
            gap: 10px;
            list-style: none;
            margin: 10px;
        
        }
        
        .navbar2 a{
            color: rgb(117, 114, 114);
            text-decoration: none;
            transition: 0.3s ease;
        }

        .questionbox{
            margin: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        .answers{
            height: 90px;
            width: 90%; 
            background-color: #F6F6F6;  
            align-content: center;
            padding: 30px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .answers h1{
            font-size: 14px;
        }

        .heading2 h1{
            font-size: 20px;
        }

      
       


        
        
        

}







