@font-face {
    font-family: regular;
    src: url(./font/gg\ sans\ Regular.ttf);
}
@font-face {
    font-family: Bold;
    src: url(./font/gg\ sans\ Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "regular", sans-serif;
}



.videohome {
    position: absolute;
    width: 100%;
    object-fit: cover; 
    z-index: 1; 
}

.navbar {
    position: relative;
    z-index: 2; 
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 30px;
}

.navbar ul a{
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: 600
}
.btn{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    
}



.section1{
    position: relative;
    z-index: 2; 
    display: flex;
    height: 400px;
    align-items: center;
    padding: 0px 200px; 
    

}




.container1{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: white;
    
}
.home h1{
    font-size: 50px;
    font-family: bold;
    line-height: 50px;
}
.home p{
    margin-top: 10px;
}





.section2{
    position: relative;
    z-index: 2;
    margin-top: 200px;
    height: 350px;
    background-color: rgb(255, 255, 255);
}

.nitro{
    
    display: flex;
    justify-content: center;
    gap: 50px;

}

.box{
    width: 40%;
    border-radius: 30px;
    background: linear-gradient(52deg, rgba(73,105,234,1) 18%, rgba(0,124,194,1) 80%);
    color: white;
    height: 400px;
    margin-top: -150px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box h1{
    font-family: bold, sans-serif;
    font-size: 35px;
    font-style: italic;
}

.box ul{
    list-style: none;
    line-height: 40px;
    margin-top: 10px;
   
}
.box ul li i{
    margin: 10px;
}

.box ul li{
    font-size: 20px;
}

.purplebox{
    background: linear-gradient(126deg, rgba(133,71,198,1) 18%, rgba(209,119,240,1) 85%);
    }

.button{
    width: 100%;
}

.button button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: bold, sans-serif;
}

.section3{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.popular{
    font-size: 35px;
    font-family: bold, sans-serif;
    padding: 10px;
}